body
{
	background-color	: #FFEDAD;
	font-family			: Tahoma;
	font-size			: small;
}

div
{
	font-size			: small;
}

td
{
	font-size			: small;
	vertical-align		: top;
}

h2
{
	margin-top			: 0px;
	margin-bottom		: 2px;
}

h3
{
	margin-top			: 0px;
	margin-bottom		: 2px;
}

div.empire-frame
{
	width				: 1220px;
}

/* Utility corners/sides layouting */
td.empire-corner-tl
{
	width				: 10px;
	height				: 10px;
	background-image	: url("resource/corner-tl.png");
}

td.empire-corner-tr
{
	width				: 10px;
	height				: 10px;
	background-image	: url("resource/corner-tr.png");
}

td.empire-corner-bl
{
	width				: 10px;
	height				: 10px;
	background-image	: url("resource/corner-bl.png");
}

td.empire-corner-br
{
	width				: 10px;
	height				: 10px;
	background-image	: url("resource/corner-br.png");
}

td.empire-side-tb
{
	height				: 10px;
	background-color	: #C6AA55;
}

td.empire-side-lr
{
	width				: 10px;
	background-color	: #C6AA55;
}

td.empire-inner
{
	background			: #C6AA55;
}

/* Empire master page layouting */
td.empire-login-panel
{
	width				: 165px;
	height				: 250px;
}

td.empire-flash-panel
{
	width				: 820px;
	height				: 620px;
}

td.empire-flash-center
{
	width				: 800px;
	height				: 600px;
}

td.empire-gamelist-splitter
{
	width				: 20px;
}

td.empire-gamelist-panel
{
	width				: 200px;
}

td.empire-gamelist-center
{
	width				: 180px;
	height				: 600px;
}

td.empire-gameinfo-panel
{
}

td.empire-gameinfo-center
{
	width				: 155px;
	height				: 350px;
}

td.empire-gamechat-panel
{
	height				: 120px;
}

td.empire-gamechat-center
{
	width				: 800px;
	height				: 110px;
}

/* Utility form layouting */
.empire-form-label
{
	width				: 75px;
	text-align			: right;
	vertical-align		: middle;
}

.empire-text-field input
{
	width				: 75px;
	margin-top			: 3px;
	margin-bottom		: 3px;
	border				: 1px solid;
}

.empire-cb-field input
{
	margin-top			: 5px;
	margin-bottom		: 5px;
}

/* Login panel styles */
div.empire-login-card
{
}

div.empire-logout-card
{
}

h2.empire-memberid
{
	width				: 150px;
	height				: 200px;
	color				: #004400;
}

div.empire-registration-card
{
}

/* Game list panel styles */
div.empire-gamelist-card
{
}

div.empire-creategame-card
{
}
