Permanent.move:hover
{
	mouseTool: ProvinceDeselect 2p;
}

Permanent.select Province.own:hover,
Permanent.move Province.near:hover
{
	mouseTool: ProvinceSelect 1p;
	blinkEffect: true;
}

Province.far
{
	darkenEffect: true;
}
